* {
  box-sizing: border-box;
  transition: 0.2s ease-in-out;

  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  font-family: 'Montserrat', sans-serif;

  height: 100vh;
  color: #fff;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
}

%hoverEffect {
  &:hover {
    cursor: pointer;
    border-radius: 15px;
    background-color: rgba($color: #000000, $alpha: 0.15);
  }
}

button {
  border: none;
  background-color: transparent;

  padding: 10px 15px;

  outline: none;
  @extend %hoverEffect;
}

.title {
  padding: 5px 10px;

  @extend %hoverEffect;
}
